@import '../../styles/global.scss';

.section-wrapper.--projects {
    max-width: 100%;
    text-align: center;

    h3 {
        padding: 0 0 2rem;
        margin: 0 10rem 4rem;
        color: $header-hov-text;
    }

    .single-project-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 0 5rem;
        max-width: 100%;
        transition: .35s;

        padding: 0 15rem;

        &:hover {
            .single-project-description {
                background-color: $header-hov-text;
                color: $base-bg;
                border: 1px solid rgba($base-text,0);

                transform: scale(.99);

                h5 {
                    color: $base-bg;
                }
            }
    
            img {
                transform: scale(1.02);
                box-shadow: 1.25rem 1.25rem rgba($base-accent,1);
            }

        }

        img {
            cursor: pointer;
            width: 25rem;     
            border-radius: .75rem;
            margin: 0 auto;
            box-shadow: 1.15rem 1.15rem rgba($base-accent,1);
            transition: .25s;
        }
           
    .single-project-description {
        cursor: pointer;
        padding: 2rem;
        margin-left: 5rem;
        border: 1px solid rgba($base-text,1);
        border-radius: 1rem;
        transition: .5s;

        background-color: transparent;
        color: $header-hov-text;
        border: 1px solid rgba($header-hov-text,1);


        h5 {
            font-size: 1.75rem;
            color:$header-hov-text;
            text-shadow: 1px 2px rgba($base-text,1);
            margin-bottom: 1rem;
        }

        h6 {
            font-size: 1.25rem;
        }
        
        p {
            padding-bottom: .75rem;
        
            a {
                font-family: "Rozha One", serif;
                color: $header-hov-text;
                text-decoration: none;
                transition: .5s;

              }
            }
        }

        ul {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;
                        
            li {
                padding-left: 1rem;
                }
        }
    }
}