//Color Palette 1
$base-bg:  rgb(30, 49, 255);
$base-accent:  rgb(18, 18, 204);
$menu:  rgb(31, 21, 223);
$base-text: #fd500c;
$header-hov-text: rgb(255, 193, 50); 

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
);