$base-bg:  rgb(66, 66, 237);
$base-accent:  rgb(18, 18, 204);
$menu:  rgb(56, 46, 235);
$base-text: #ff49b0;
$header-hov-text: rgb(255, 193, 50); 

$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
);