@import '../../styles/global.scss';

/* ABOUT Section */

.section-wrapper.--about {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 5rem 15rem;
  max-height: 35rem;

  .about-inner-wrapper {
    color: $base-bg;
    background-color:rgba($header-hov-text,1);
    border-radius: .75rem;
    padding: 2rem 4rem 0;
    max-width: 50%;

     h4 {
      color: $base-bg;
     }
  }

  .revati-pic{
    height: 30rem;
    object-position: 70% 5%;
    object-fit: cover;

    box-shadow: 1.5rem 1.5rem rgba($base-accent,1);
    border-radius: 1rem;
    margin: auto 4rem auto 0;
    transition: .25s;

    &:hover {
      transform: scale(1.01);
      box-shadow: 1.75rem 1.75rem rgba($base-accent,1); 
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    
    li {
      padding-right: 2rem;
    }
  }

  .resume-wrapper {
    display: flex;
    padding-top: 2rem;
  
    .resume-img-wrapper {
      position: relative;
      left: 1.5rem;
      bottom: 2rem;

      .resume-img {
        border-radius: .25rem;
        height: 10rem;
        transition: .5s;
        box-shadow: .5rem .5rem rgba($base-bg,1);

        &:hover {
          box-shadow: .75rem .75rem rgba($base-bg,1);
          transform: scale(1.02);
        }
      }
    }
  }
}