@import '../../styles/global.scss';

.section-wrapper.--contact {
    padding: 0 15rem;
    margin-bottom: 5rem;

    h4 {
        margin: 3.5rem 0 2rem;
    }

    .contact-wrapper {
        display: flex;

        .social-email-wrapper {
            a {
            font-size: 1rem;
            padding: 1rem 1.5rem;
            border-radius: .5rem;
            margin-right: 1rem;

            color: $header-hov-text;
            background-color: rgba($base-accent,.25);
            box-shadow: 0 0 rgba($base-accent,0);
            transition: .5s;

                &:hover {
                    color: $base-accent;
                    background-color: rgba($header-hov-text,1);
                    box-shadow: .5rem .5rem rgba($base-accent,.75);
                }
            }
        }

        .resume-wrapper {
            margin-left: 10rem;
    
            .resume-img {
                height: 25rem;
                border-radius: .25rem;
                box-shadow: 1rem 1rem rgba($base-accent,1);
                transition: .5s;
    
                &:hover {
                    transform: scale(1.02);
                    box-shadow: 1.25rem 1.25rem rgba($header-hov-text,1);
                }
            }
        }  
    }
}