@import '../../styles/global.scss';

.section-wrapper.--photography {
    margin: 0;
    padding: 0 15rem 5rem;
  
    h3 {
      text-align: right;
      margin-bottom: 2rem;
    }

    img {
        border-radius: .5rem;
        transform: scale(.98);
        transition: .5s;
  
        &:hover {
          transform: scale(1);
        }
      }
    }
  
    .row { 
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    /* Create four equal columns that sits next to each other */
    .column {
      flex: 45%;
      position: relative;
      padding: 3px;
    }
  
    .column img {
      cursor: pointer;
      position: relative;
      width: 100%;
      opacity: 1;
      z-index: 1;
  }