html {
  max-width: 100vw;
  display: block;
  background-color: black;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.App {
  display: block;
  font-family: "Inria Serif", serif;
  font-weight: 200;

}

.siteContent {
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: -1;
  /* background-color:rgb(247, 229, 223); */
  background-color: white;
  flex: 1;
}

.section-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: justify;
  color: black;
  /* background-color:rgb(247, 229, 223); */
  background-color: white;
  padding: 7vw 10vw 5vw 10vw;
  margin-bottom: 2vh;
}
h3, h4 {
  font-size: 2.5vw;
  text-align: right;
  letter-spacing: .5vw;
  border-bottom: .1vw dotted black;
  padding: .5vw;
  margin: 2vw auto;
}

h4 {
  text-align: left;
  margin: auto 10vw;
}

p {
  font-size: 1.25vw;
  line-height: 200%;
}

li {
  font-size: 13px;
  padding: 0;
}

.bold-text {
  font-weight: bold;
}


/* NAVIGATION */

menu {
  font-family: "Helvetica", sans-serif;
  overflow: scroll;
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0,.8);
  font-weight: 400;
}

#menuList {
  display: flex;
  justify-content: space-around;
  padding: .75vw;
}

.menuItem {
  letter-spacing: .25vw;
  font-weight: 500;
  text-decoration: none;
  color: rgb(211, 182, 144);
  /* background-color: rgb(0, 0, 0,.5); */
  padding: .75vw 2vw;
  border: 1px solid rgba(250, 250, 250, 0);
  transition: 1s;
}

.menuItem:hover {
  /* letter-spacing: .5vw; */
  color:white;
  border: 1px solid white;
}

/* HEADER SECTION */

header, menu {
  text-align: center;
}

.header-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/images/background.JPG);
  background-size: 150%;
  background-position-x: 50%;
  flex: 1;
  height: 99vh;
  border-bottom: 1px black solid;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  background-color: rgba(233, 210, 180, 0.7);
  margin: 0% 15% 0% 15%;
  transition: .5s;
}

header:hover{
  background-color: rgb(0, 0, 0,.9);
  color: rgb(233, 210, 180);
  text-shadow: 2px 2px 2px black;

}

header:hover h1 {
  letter-spacing: 3vw;
  color: rgb(233, 210, 180);
  text-shadow: 2px 2px 2px black;
}

h1 {
  font-size: 4vw;
  letter-spacing: 2.25vw;
  margin-top: 5%;
  color: black;
  text-shadow: 2px 2px 10px white;
  transition: 1s;
  text-decoration: none;
}


#subheader {
  letter-spacing: .5vw;
  font-size: 2vw;
  margin: 5%;
}

/* ABOUT Section */
.about-inner-wrapper {
  padding: 0 3vw 0vw 3vw;
}

#resume > a {
  font-size: 1.25vw;
  color: rgb(233, 210, 180);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1vw;
  transition: .75s;
  text-align: center;
 }

#resume > a:hover {
  background-color: rgba(230, 200, 157);
  color: black;
 }


#revati-pic {
  height: 40vw;
  object-position: 70% 5%;
  object-fit: cover;
  box-shadow: -2vw -2vw rgba(230, 200, 157,.7);
  margin: auto 4vw;
  animation-name: fade-in;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5vw;
}

#skills > li {
  font-size: 1.25vw;
  padding: 0;
  margin: .5vw;
}

/* PROJECT SECTION */

.projects-section-wrapper {
  color: black;
  /* background-color:rgb(247, 229, 223); */
  background-color: white;
  text-align: center;
}

.projects-section-wrapper > h4 {
  padding: 7vw 5vw 1vw 0vw;
}

.single-project-wrapper {
  display: grid;
  grid-template-columns: 25fr 25fr;
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 0vw 5vw;
  margin-bottom: 10vw;
}

.single-project-wrapper > a > img {
position: absolute;
 width: 29vw;
 left: 10vw;
 top: 17vw;
 box-shadow: -1vw -1vw rgba(230, 200, 157,.7);
 margin: 0vw auto;
 transition: ease-in .35s;
 animation-name: fade-in;
 animation-duration: .75s;
 animation-iteration-count: 1;
}

.single-project-wrapper > a > img:hover {
  width: 32vw;
  opacity: .6;
  /* box-shadow: -1.5vw -1.5vw rgba(230, 200, 157, 0); */
}

.single-project-description {
  /* background-color: rgba(230, 200, 157, .5); */
  /* border: 2px solid rgba(230, 200, 157, .5); */
  border: 1px solid rgb(0, 0, 0, .25);
  margin-right: 45vw;
  margin-top: 3vw;
  padding: 1vw 7vw;
  width: 70%;
}

.single-project-description > h5 {
  font-size: 1.75vw;
  font-weight: bold;
  line-height: 4vw;
  border-bottom: 1px dotted black;
  margin: 1vw 5vw;
 }

 .single-project-description > h5 > a {
  color: black;
  text-decoration: none;
  padding: 1vw;
 }


 .single-project-description > h6 {
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 5vw;
 }

.single-project-description > p {
 line-height: 2vw;
}

.single-project-description > p > a {
  font-weight: bold;
  color: black;
  text-decoration: none;
 }

.single-project-description > ul > li {
  font-size: 1.25vw;
  margin-bottom: 1vw;
  text-align: center;
 }

/* PHOTOGRAPHY SECTION */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 3vw;
  position: relative;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 45%;
  position: relative;
  max-width: 45%;
  padding: 0 4px;
}

.column img {
  margin-top: 1vw;
  position: relative;
  /* vertical-align: middle; */
  width: 100%;
  opacity: 1;
  transition: .6s;
  z-index: 1;
  animation-name: fade-in;
  animation-duration: .75s;
  animation-iteration-count: 1;
}

.column img:hover {
  opacity: 1;
  z-index: 2;
}

 /* CONTACT SECTION */

 .contact-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5vw;
  border: 1px solid rgb(0, 0, 0, .25);
  margin: 5vw;
 }

 .contact-section-inner-wrapper {
  display: flex;
  /* position: absolute; */
  min-width: 80%;
  justify-content: space-evenly;
  text-align: center;
  color: black;
   /* background-color:rgb(247, 229, 223); */
   background-color: white;
  padding-top: 3vw;
  padding-bottom: 5vw;
  margin-bottom: 5vw;
 }

 .email > h3 {
  text-align: center;
  border-bottom: none;
 }

 .email > a {
  font-size: 1.25vw;
  color: rgb(233, 210, 180);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1vw 2.5vw;
  transition: .75s;
  text-align: center;
 }

.email > a:hover {
  background-color: rgba(230, 200, 157);
  color: black;
 }

 .socialmedia {
   display: flex;
  flex-direction: column;
  
 }

 .socialmedia > h3 {
  text-align: center;
  border-bottom: none;
 }

.socialmedia > a {
  margin: auto 9vw 1.5vw 9vw;
  font-size: 1.25vw;
  color: rgb(233, 210, 180);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  padding: .75vw 2.5vw;
  transition: .75s;
  text-align: center;
}

.socialmedia > a:hover {
  background-color: rgba(230, 200, 157);
  color: black;
}

/* FOOTER SECTION */
#footerWrapper {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 1);
  padding: .2vw auto;
 border-top: 1px solid rgb(233, 210, 180);
}


footer {
  font-size: .85vw;
  letter-spacing: .25vw;
  color: rgb(233, 210, 180);
  margin: 2vw auto;
  white-space: nowrap;
}

/* Medium Screen Size */
@media only screen and (max-width: 1047px) {

/* Contact Section */
.contact-section-wrapper {
  padding-top: 5vw;
  padding-bottom: 10vw;
  margin: 5vw;
 }

 .contact-section-wrapper > h4{
  font-size: 4vw;
  margin-bottom: 10vw;
}

 .contact-section-inner-wrapper {
  padding-top: 0vw;
  padding-bottom: 0vw;
  margin-top: -2vw;
 }

 .email > h3 {
  margin: 0 0 3vw 0;
 }

 .email > a {
  font-size: 1.5vw;
}

 .socialmedia > h3 {
  margin: 0 0 3vw 0;
 }
 .socialmedia > a {
  font-size: 1.5vw;
}

  footer {
    font-size: 1.25vw;
  };

}

/* SMALL SCREEN */
@media only screen and (max-width: 769px) {

  /* Global */
  h3, h4 {
    font-size: 4vw;
    text-align: right;
    letter-spacing: .5vw;
    border-bottom: .1vw dotted black;
    padding: .5vw;
    margin: 8vw auto;
  }
  
  p {
    font-size: 2.25vw;
    line-height: 200%;
  }

  /* Menu Section */
  #menuList {
    padding: 4vw;
  }

  .menuItem {
    padding: 1.5vw 2.75vw;
  }
  
  /* Header Section */
  .header-section-wrapper {
    background-size: 200%;
    height: 100vh;
  }

header {
  margin: 0% 0% 0% 0%;
}

header:hover h1 {
  letter-spacing: 3.25vw;
}

h1 {
  font-size: 6.5vw;
  letter-spacing: 2.5vw;
  line-height: 125%;
}

#subheader {
  letter-spacing: 1vw;
  font-size: 3vw;
}

  /* About Section */
  #revati-pic {
    height: 0vw;
  }

  #skills {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.25vw;
  }

  #skills > li {
    font-size: 2.25vw;
  }

  #resume > a {
    font-size: 3vw;
    padding: 1vw;
    margin-top: -5vw;
   }

/* Projects Section */
  .projects-section-wrapper > h4 {
    padding: 17vw 5vw 1vw 0vw;
    margin: 0 10vw;
  }

  .single-project-wrapper {
    padding: 0vw 0vw 0vw 10vw;
    margin-bottom: 15vw;
  }
  
  .single-project-wrapper > a > img {
   width: 43vw;
   left: 5vw;
   top: 35vw;
  }
  
  .single-project-wrapper > a > img:hover {
    width: 46vw;
    opacity: .6;
  }
  
  .single-project-description {
    margin-top: 4vw;
    margin-left: 8vw;
    padding: 5vw 7vw 10vw 7vw;
  }
  
  .single-project-description > h5 {
    font-size: 2.75vw;
   }
  
   .single-project-description > h6 {
    font-size: 2.5vw;
    line-height: 5vw;
   }
  
  .single-project-description > p {
   line-height: 3.25vw;
  }
  
  .single-project-description > ul > li {
    margin-bottom: 1vw;
    font-size: 2.25vw;
   }

   .column img {
    opacity: 1;
    margin-top: 2vw;
    width: 100%;
  }
  
  .column img:hover {
    opacity: 1;
    z-index: 2;
  }


  footer {
    font-size: 1.75vw;
    margin: 4vw auto;
  };

}

@media only screen and (max-width: 575px) {

  /* GLOBAL */
  h3, h4  {
    font-size: 5vw;
    padding-top: 5vw;
    border-bottom: .4vw dotted black;
  }

  h5 {
    font-size: 4vw;
  }

   p {
     font-size: 3.5vw;
   }

 /* HEADER */
 .header-section-wrapper {
  background-size: 270%;
  height: 90vh;
}

   /* ABOUT ME */
   #skills > li {
    font-size: 3.5vw;
    margin: 1vw;
  }

  /* Projects Section */
  .projects-section-wrapper {
   display: block;
  }

  .projects-section-wrapper > h4 {
    padding: 19vw 5vw 0vw 0vw;
    margin: 0 10vw 10vw 10vw;
  }

  .single-project-wrapper {
    display: block;
    padding: 0vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
  }

  
  .single-project-wrapper > a > img {
    position: absolute;
    box-shadow: -3vw -3vw rgba(230, 200, 157,.7);
    width: 70%;
    top: 8vw;
    left: 15vw;
    z-index: 2;
  }
  
  .single-project-wrapper > a > img:hover {
    width: 75%;
    opacity: .6;
    z-index: 2;
  }
  
  .single-project-description {
    padding: 50vw 7vw 5vw 7vw;
  }
  
  .single-project-description > h5 {
    font-size: 4vw;
    line-height: 6vw;
    margin-bottom: 4vw;
   }
  
   .single-project-description > h6 {
    font-size: 3.5vw;
    line-height: 10vw;
   }
  
  .single-project-description > p {
    font-size: 3vw;
   line-height: 5vw;
  }
  
  .single-project-description > ul > li {
    margin-bottom: 1vw;
    font-size: 3vw;
   }

   /* PHOTOGRAPHY SECTION */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -5vw -3vw;
  position: relative;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 45%;
  position: relative;
  max-width: 100%;
  padding: 1vw 5vw;
}

.column img {
  opacity: 1;
  margin-top: 2vw;
  width: 100%;
}


/* Contact Section */
.contact-section-wrapper {
  min-height: 65vh;
  padding: 0;
  margin: 10vw;
 }

 .contact-section-outer-wrapper {
  padding-top: 10vw;
}
 .contact-section-wrapper > h4{
  font-size: 7.5vw;
  margin-bottom: -15vh;
}

 .contact-section-inner-wrapper {
   display: block;
  padding-top: 0vw;
  padding-bottom: 0vw;
  margin-top: 0vw;
 }

 .email > h3 {
  font-size: 5.5vw;
  margin: 0 0 5vw 0;
 }

 .email > a {
  font-size: 3vw;
  padding: 2vw 5vw;
}

 .socialmedia > h3 {
  font-size: 5.5vw;
  margin: 6vw 0 5vw 0;
 }

 .socialmedia > a {
  font-size: 3vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
   margin: 0vw 23vw 2vw 23vw;
}
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1.0;
  }
} 
